<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First AngularJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<div id="main" ng-app>
    <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a href="Pirmadienis.html" class="pirmadienis" ng-click="active='pirmadienis'">Pirmadienis</a>
        <a href="Antradienis.html" class="antradienis" ng-click="active='antradienis'">Antradienis</a>
        <a href="Treciadienis.html" class="trečiadienis" ng-click="active='trečiadienis'">Trečiadienis</a>
        <a href="Ketvirtadienis.html" class="ketvirtadienis" ng-click="active='ketvirtadienis'">Ketvirtadienis</a>
        <a href="Penktadienis.html" class="penktadienis" ng-click="active='penktadienis'">Penktadienis</a>

    </nav>
</div>


